@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
    color: white;
    background-color: black;
}

.nav-active {
    color: rgb(3, 173, 151);
}